.product-page {
  display: flex;
  gap: 60px;
  padding: 120px 80px 60px;
  background: #f6f6f6;
}

/* LEFT */
.product-images {
  display: flex;
  gap: 20px;
}

.thumbs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.thumbs img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  background: #fff;
  border-radius: 12px;
  cursor: pointer;
}

.main-image {
  background: #fff;
  padding: 40px;
  border-radius: 24px;
}

.main-image img {
  width: 380px;
}

/* RIGHT */
.product-details {
  max-width: 480px;
}

.breadcrumb {
  font-size: 13px;
  color: #777;
  margin-bottom: 10px;
}

.product-details h1 {
  font-size: 28px;
  margin-bottom: 6px;
}

.brand {
  font-size: 14px;
  color: #555;
}

.price-box {
  margin: 18px 0;
}

.price {
  font-size: 26px;
  font-weight: 600;
}

.price-box del {
  margin-left: 10px;
  color: #888;
}

.off {
  margin-left: 10px;
  color: green;
  font-size: 14px;
}

.rating {
  margin-bottom: 20px;
  font-size: 14px;
}

.option h4 {
  margin: 14px 0 8px;
}

/* COLORS */
.colors {
  display: flex;
  gap: 12px;
}

.color {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ddd;
}

.beige { background: #e7dbc7; }
.black { background: #000; }
.white { background: #fff; }
.blue { background: #0fcfdd; }
/* SIZES */
.sizes button {
  padding: 8px 14px;
  margin-right: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.sizes .active {
  background: #000;
  color: #fff;
}

/* ACTIONS */
.actions {
  margin: 30px 0;
  display: flex;
  gap: 14px;
}

.add-cart {
  padding: 14px 26px;
  border-radius: 30px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}

.buy-now {
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

/* DESCRIPTION */
.description ul {
  margin-top: 10px;
  padding-left: 18px;
}

.description li {
  font-size: 14px;
  margin-bottom: 6px;
}
